<template>
  <div class="systemSettingModel" :class="visible">
    <div>
      <span>{{ title }}</span>
      <div>功能开发中...</div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['systemSettingVisible', 'title'],
    data(){
      return{
        visible: 'inactive'
      }
    },
    watch: {
      systemSettingVisible( val ){
        if( val == false ){
          this.visible = 'inactive'
        }else{
          this.visible = 'active'
        }
      }
    }
  }
</script>

<style scoped>
    .active{
      display: block;
    }
    .inactive{
      display: none;
    }
    .systemSettingModel{
      position: absolute;
      background: white;
      width: 400px;
      height: 600px;
      top: 50px;
    }
</style>