html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.el-autocomplete {
    width: 100% !important;
    .el-input {
        height: 57px !important;
        .el-input__inner {
            height: 57px !important;
            font-size: 20px !important;
        }
        .el-input__suffix {
            .el-input__suffix-inner {
                .el-icon-search {
                    font-size: 23px !important;
                    position: relative;
                }
                .el-icon-search:before {
                    content: "\e778";
                    position: absolute;
                    top: 9px !important;
                    right: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

.el-tabs {
    .el-tabs__header {
        height: 61px !important;
        .el-tabs__nav-wrap {
            height: 61px !important;
            .el-tabs__nav-scroll {
                height: 61px !important;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .el-tabs__nav {
                    height: 61px !important;
                    .el-tabs__item {
                        line-height: 61px;
                        font-size: 17px;
                        font-weight: 600;
                    }
                    .el-tabs__active-bar {
                        height: 3px;
                    }
                }
            }
        }
    }
    .el-tabs__content {
        padding: 0px 60px !important;
    }
}

#map {
    .l7-control-container {
        .l7-bottom {
            display: none !important;
        }
    }
}

.licence {
    .el-table {
        .el-table__body-wrapper {
            tbody {
                .el-table__row {}
            }
        }
    }
}