.home{
  width: 100%;
  height: 100%;
  position: relative;
//  头部
  .header{
    height: 500px;
    background-image: url('#{$img}/bg.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    img{
      position: absolute;
      top: -17px;
      left: 7px;
      width: 230px;
    }
  //  操作按钮
    .operation{
      position: absolute;
      top: 37px;
      right: 31px;
      .item{
        color: #fff;
        font-size: 17px;
        margin-right: 20px;
        cursor: pointer;
      }
      .item:hover{
        opacity: 0.5;
      }
      .headOperationBtn{
        width: 90px !important;
        height: 39px !important;
        background-color: #05a081 !important;
        border-color: #05a081 !important;
      }
      .headOperationBtn:hover{
        opacity: 0.8;
      }
    }
  //  标题区域
    .contentCenter{
      max-width: 650px;
      margin: 180px auto 10px;
      .description{
        font-size: 36px;
        line-height: 48px;
        color: #ffffff;
        font-weight: 700;
        text-align: left;
        margin-bottom: 10px;
      }
      .my-autocomplete {
        width: 100% !important;
        li {
          line-height: normal;
          padding: 7px;

          .name {
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .addr {
            font-size: 12px;
            color: #b4b4b4;
          }

          .highlighted .addr {
            color: #ddd;
          }
        }
      }
      .accommodation{
        margin-top: 8px;
        text-align: left;
        .head{
          font-size: 14px;
          color: #ffffff;
          margin-right: 5px;
        }
        .accommodationContent{
          font-size: 14px;
          color: #ffffff;
          opacity: 0.8;
          & > span{
            cursor: pointer;
          }
          & > span:hover{
            color: #d71616;
          }
        }
      }
    }
  //  底部按钮
    .functionBtn{
      width: 100%;
      position: absolute;
      bottom: 10px;
      left: 0px;
      .main{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .btn{
          height: 39px;
          border-radius: 20px;
          background-color: #ffffff;
          margin: 0px 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-left: 5px;
          padding-right: 10px;
          box-sizing: border-box;
          cursor: pointer;
          .img{
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 15px;
            background-image: url('#{$img}/bg.jpeg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }
          .txt{}
        }
        .btn:hover{
          opacity: 0.8;
        }
      }
    }
  }
//  内容
  .content{
  //  tab
    .tab{

    }
  }
}