<template>
  <el-dialog title="附件上传" :visible.sync="dialogVisible" append-to-body :before-close="handleClose">
    <el-row type="flex" justify="center">
      <el-upload
        class="upload-demo"
        :before-upload="beforeUpload"
        :on-change="fileChange"
        drag
        action=""
        :accept="uploadAccept"
        :multiple="isMultipleOperation"
        :before-remove='beforeRemove'
        :limit="uploadFileLimit"
        :auto-upload="false"
        :file-list="fileList"
      >
        <i class="el-icon-upload"></i>
        <div class="el-upload__text"><em>请点击上传</em></div>
        <!-- <div class="el-upload__tip" style="text-align: center;" slot="tip">只能上传{{ fileTypesText }}文件，且不超过500kb</div> -->
      </el-upload>
    </el-row>
    <span slot="footer" class="dialog-footer">
      <el-button @click="cancelOperation">取 消</el-button>
      <el-button type="primary" @click="handleConfirm">确 定</el-button>
    </span>
  </el-dialog>
</template>

<script>
import ObsClient from "../../assets/huawei-obs/esdk-obs-browserjs-without-polyfill-3.19.5.min.js";
import { uuid } from "../../utils/common";
window.obsClient = null;
export default {
  name: "obsUploadDialog",
  props: {
    uploadFileLimit: {
      type: Number,
      default: () => {
        return 1;
      },
    },
    uploadAccept: {
      type: String,
      default: "image/*",
    },
    isMultipleOperation: {
      type: Boolean,
      default: () => {
        return true;
      },
    },
  },
  data() {
    return {
      obsClient: null,
      dialogVisible: false,
      fileList: [],
      fileKey: [],
      fileInfo: [],
      fileTypesText: "",
    };
  },
  mounted() {
    obsClient = new ObsClient({
      access_key_id: "O3UHBVVJELIW7ZU8LTHI",
      secret_access_key: "eKgofpskq2pvxBocEtO9aXXDBJAR90M7yjeGRtAN",
      server: "http://obs.cn-east-3.myhuaweicloud.com",
    });
    console.log(obsClient);
  },
  methods: {
    init() {
      this.dialogVisible = true;
      this.fileInfo = [];
      this.fileList = [];
    },
    beforeUpload(file) {
      // console.log('before', file)
    },
    handleClose(done){
        this.delUploadedFiles()
        done()
    },
    beforeRemove(){
      this.delUploadedFiles()
      return true
    },
    fileChange(file, fileList) {
      // const key = file.uid  + '-' + file.name
      let key = uuid();
      const BucketName = "ajaj-xiaoxiaohei";
      obsClient
        .putObject({
          Bucket: BucketName,
          Key: key,
          Metadata: { property: "property-value" },
          SourceFile: file.raw,
        })
        .then((result) => {
          if (result.CommonMsg.Status === 200) {
            this.$message({
              type: 'success',
              message: '文件上传成功'
            })
            this.fileInfo.push({
              fileName: file.name,
              repository: BucketName,
              name: key,
            });
            // this.doDownload(BucketName, key)
          }
        })
        .catch(function (err) {
          console.error("err:" + err);
        });
    },

    // 下载不走前端
    // doDownload(BucketName, key){
    //   obsClient.getObject({
    //     Bucket : 'glaway.test',
    //     Key : key,
    //     SaveByType : 'file',
    //   }).then((result)=>{
    //     if (result.CommonMsg.Status != 0) {
    //       return this.$message.error(result.CommonMsg.Message)
    //     }
    //     this.fileUrl.push({
    //       BucketName,
    //       key,
    //       url: result.InterfaceResult.Content.SignedUrl
    //     })

    //   }).catch(function(err){
    //     console.error('err:' + err);
    //   });
    // },
    handleConfirm() {
      this.$emit("getFileInfo", this.fileInfo);
      this.dialogVisible = false;
    },

    cancelOperation() {
      this.delUploadedFiles();
      this.dialogVisible = false;
    },

    // 删除已上传文件
    delUploadedFiles() {
      if(this.fileInfo.length <= 0){
        return
      }
      let objectname = this.fileInfo[0].name;
      const BucketName = "ajaj-xiaoxiaohei";

      obsClient.deleteObject(
        {
          Bucket: BucketName,
          Key: objectname,
        },
        function (err, result) {
          if (err) {
            console.log("Error-->" + err);
          } else {
            console.log("Status-->" + result.CommonMsg.Status);
          }
        }
      );
    },
  },
};
</script>

<style>
</style>
