<template>
    <div class="uploadOrDownloadFiles">
        <!-- 华为obs文件上传 -->
        <input type="file" id="inputFile" @change="fileChange" style="display: none;">
    </div>
</template>

<script>
/**
 * 1、安装 npm config set registry  https://registry.npmjs.org 和 npm i esdk-obs-browserjs
 * 2、引入 import * as ObsClient from 'esdk-obs-browserjs' 或者 public/static/index.hmtl中引入 'esdk-obs-browserjs'
 * */
    export default{
        name: 'uploadOrDownloadFiles',
        props: {
            // 密钥
            accessKey: {
                type: String,
                require: true
            },
            secretKey: {
                type: String,
                require: true
            },
            // endPoint
            server: {
                type: String,
                require: true
            },
            // 桶名称
            bucket: {
                type: String,
                require: true
            }
        },
        data(){
            return{
                fileName: '', // 文件名称
                saveByType: 'file'
            }
        },
        methods: {
            // 文件上传
            activeUploadFile(){
                document.getElementById('inputFile').click()
            },
            fileChange(){
                let file = document.getElementById('inputFile').files[0]
                this.fileName = file.name.substring(0, file.name.lastIndexOf("."))
                this.uploadFile()
            },
            uploadFile(){
                let _this = this
                // 创建ObsCLient示例
                var obsClient = new ObsClient({
                    access_key_id: _this.accessKey,
                    secret_access_key: _this.secretKey,
                    server : _this.server
                })

                obsClient.putObject({
                    Bucket : _this.bucket,
                    Key : _this.fileName,
                    SourceFile: document.getElementById('inputFile').files[0],
                    Metadata:{property:'property-value'}
                }, function (err, result) {
                    if(err){
                            // console.error('Error-->' + err);
                            _this.$message({
                                type: 'error',
                                message: '文件上传失败'
                            })
                    }else{
                            // console.log('Status-->' + JSON.stringify(result));
                                if(result.CommonMsg.Status == 200){
                                    _this.$message({
                                    type: 'success',
                                    message: '文件上传成功'
                                })

                                // 文件上传返回数据
                                _this.$emit('uploadFileReturnData', {
                                    fileName: _this.fileName, // 文件名称
                                    result: result, // 接口返回数据
                                })
                            }
                    }
                })
            },

            // 文件的下载
            downloadFile(){
                let _this = this
                // 创建ObsCLient示例
                var obsClient = new ObsClient({
                    access_key_id: _this.accessKey,
                    secret_access_key: _this.secretKey,
                    server : _this.server
                })

                obsClient.getObject({
                    Bucket : _this.bucket,
                    Key : _this.fileName,
                    SaveByType : _this.saveByType
                    }, function (err, result) {
                        if(err){
                                // console.error('Error-->' + err);
                                _this.$message({
                                            type: 'error',
                                            message: '文件下载失败'
                                        })
                        }else{
                                                _this.$message({
                                                    type: 'success',
                                                    message: '文件下载成功'
                                                })

                                                // 文件下载返回数据
                                                _this.$emit('downloadFileReturnData', {
                                                    fileName: _this.fileName, // 文件名称
                                                    SignedUrl: result.InterfaceResult.Content.SignedUrl,
                                                    result: result, // 接口返回数据
                                                })
                                        }
                    })
            }
        },
        created(){
        }
    }
</script>
