<template>
<!--  <div class="smallTitle">-->
<!--    小标题详情{{ id }}-->
<!--  </div>-->
  <div id="hello">
    <!--  控制面板  -->
    <div class="control-banel" :class="activeControlBanel">
      <div class="control-banel-top">
        <span @click="controlClose">关闭</span>
      </div>
    </div>
    <div class="control-btn" :class="activeControl" @click="controlBtn"></div>
    <!--  底部功能栏  -->
    <div class="bottom">
      <div class="bottom-top">
        <div class="btn-box">
          <div class="oLogin">
            <div class="conic" @click="loginOut">
              <span class="iconfont">&#xe77b;</span>
            </div>
            <div>登出</div>
          </div>
          <div class="system-setting">
            <div class="conic" @click="systemSetting">
              <span class="iconfont">&#xe60b;</span>
            </div>
            <div>系统设置</div>
          </div>
          <div class="air-device-description">
            <div class="conic" @click="airDeviceDecription">
              <span class="iconfont">&#xe611;</span>
            </div>
            <div>空管设备概览</div>
          </div>
          <div class="sport-description">
            <div class="conic" @click="sportDescription">
              <span class="iconfont">&#xe681;</span>
            </div>
            <div>动力概览</div>
          </div>
          <div class="environment-description">
            <div class="conic" @click="enviromentDecription">
              <span class="iconfont">&#xe620;</span>
            </div>
            <div>环境概览</div>
          </div>
          <div class="video-description">
            <div class="conic" @click="videoDecription">
              <span class="iconfont">&#xe693;</span>
            </div>
            <div>视频概览</div>
          </div>
          <div class="statistic-analysis">
            <div class="conic" @click="statisitcAnalysis">
              <span class="iconfont">&#xe604;</span>
            </div>
            <div>统计分析</div>
          </div>
          <div class="alarm">
            <div class="conic" @click="alarm">
              <span class="iconfont">&#xe602;</span>
            </div>
            <div>告警</div>
          </div>
          <div class="build-setting">
            <div class="conic" @click="buildSetting">
              <span class="iconfont">&#xe641;</span>
            </div>
            <div>施工设置</div>
          </div>
          <div class="shift-management">
            <div class="conic" @click="shiftManagement">
              <span class="iconfont">&#xe62a;</span>
            </div>
            <div>交接班管理</div>
          </div>
          <div class="work-log">
            <div class="conic" @click="workLog">
              <span class="iconfont">&#xe692;</span>
            </div>
            <div>工作日志</div>
          </div>
        </div>
        <div class="oTime">
          <!--          2021-09-01 16:56:00-->
          <span class="time-y"></span>
          <span class="time-h"></span>
        </div>
      </div>
      <a-divider />
      <div class="bottom-bottom">
        <div class="bottom-bottom-left">
          <div class="company-title">南京禄口国际机场</div>
          <div class="company-title-english">NanJing LuKou International Airport</div>
        </div>
        <div class="bottom-bottom-center">
          <span>下滑台门磁设备状态警告</span>
          <span>下滑台磁设备状态警告</span>
          <span>下滑台磁设备状态警告</span>
        </div>
        <div class="bottom-bottom-right">
          <div>
            <span style="background: red;"></span>
            <span style="color: red;">正常</span>
          </div>
          <div>
            <span style="background: gold;"></span>
            <span style="color: gold;">掉线</span>
          </div>
          <div>
            <span style="background: yellow;"></span>
            <span style="color: yellow;">告警</span>
          </div>
          <div>
            <span style="background: white;"></span>
            <span style="color: white">预警</span>
          </div>
          <div>
            <span style="background: blue;"></span>
            <span style="color: blue;">未启用</span>
          </div>
        </div>
      </div>
    </div>
    <!-- 自制按钮弹窗 -->
    <system-setting-model :systemSettingVisible="systemSettingVisible" :title="title" />
    <!--  模型信息提示框  -->
    <div id="label" v-if="toolTip"></div>
  </div>
</template>

<!--<script>-->
<!--  export default {-->
<!--    data(){-->
<!--      return{-->
<!--        id: ''-->
<!--      }-->
<!--    },-->
<!--    created() {-->
<!--      this.$nextTick(() => {-->
<!--      //  跳转此页接受参数-->
<!--        this.id = this.$route?.query?.id ?? ''-->
<!--      })-->
<!--    }-->
<!--  }-->
<!--</script>-->

<script>
import $ from 'jquery'
import * as THREE from 'three'
import Stats from "three/examples/jsm/libs/stats.module";
// 三维模型插件
// import { MTLLoader, OBJLoader } from 'three-obj-mtl-loader'
// 绘制2D效果
// import  { CSS2DRenderer, CSS2DObject } from 'three-css2drender'
let OrbitControls = require('three-orbit-controls')(THREE);
import systemSettingModel from '../model/systemSettingModel'

//引用基础建筑物模型数据
import {buildingObjects} from "../data/BuildingData";

//引入提示信息数据
import DataShow from "../data/DataShow";

//引用基础建筑物模型（basicBuilding）
import airportFloor from "../basicBuilding/airportFloor";
import {airportLeftFloor} from "../basicBuilding/airportLeftFloor";
import airportRightFloor from "../basicBuilding/airportRightFloor";
import beaconStation from "../basicBuilding/beaconStation";
import communicationMachineOtherRoom from "../basicBuilding/communicationMachineOtherRoom";
import communicationMachineRoom from "../basicBuilding/communicationMachineRoom";
import communicationMachineRoomFloor from "../basicBuilding/communicationMachineRoomFloor";
import glideSiopeLeft from "../basicBuilding/glideSiopeLeft";
import glideSiopeRailLeft from "../basicBuilding/glideSiopeRailLeft";
import glideSiopeRailRight from "../basicBuilding/glideSiopeRailRight";
import glideSiopeRight from "../basicBuilding/glideSiopeRight";
import headingMachineLeft from "../basicBuilding/headingMachineLeft";
import headingMachineRight from "../basicBuilding/headingMachineRight";
import leftPavilion from "../basicBuilding/leftPavilion";
import rightPavilion from "../basicBuilding/rightPavilion";

(function flexible (window, document) {
  var docEl = document.documentElement
  var dpr = window.devicePixelRatio || 1

  // adjust body font size
  function setBodyFontSize () {
    if (document.body) {
      document.body.style.fontSize = 12 * dpr + 'px'
    } else {
      document.addEventListener('DOMContentLoaded', setBodyFontSize)
    }
  }
  setBodyFontSize()

  // set 1rem = viewWidth / 10
  function setRemUnit () {
    var rem = docEl.clientWidth / 24
    docEl.style.fontSize = rem + 'px'
  }

  setRemUnit()

  // reset rem unit on page resize
  window.addEventListener('resize', setRemUnit)
  window.addEventListener('pageshow', function (e) {
    if (e.persisted) {
      setRemUnit()
    }
  })

  // detect 0.5px supports
  if (dpr >= 2) {
    var fakeBody = document.createElement('body')
    var testElement = document.createElement('div')
    testElement.style.border = '.5px solid transparent'
    fakeBody.appendChild(testElement)
    docEl.appendChild(fakeBody)
    if (testElement.offsetHeight === 1) {
      docEl.classList.add('hairlines')
    }
    docEl.removeChild(fakeBody)
  }
})(window, document)

export default {
  name: 'smallTitle',
  components: {
    systemSettingModel
  },
  data() {
    return {
      title: '',
      systemSettingVisible: false,
      scene: undefined,
      camera: undefined,
      renderer: undefined,
      stats: undefined,
      objects: [],                    // 场景中所有对象的集合
      activeControl: 'controlBtn-active',
      activeControlBanel: 'controlBanel-inactive',
      selectedObjects: [],
      raycaster: new THREE.Raycaster(),
      mouse: new THREE.Vector2(),
      toolTip: false
    }
  },
  mounted() {
    //初始化threeJs
    this.initThreeJs()
    this.time()

    //监听模块点击显示信息
    window.addEventListener( 'click', this.onMouseClick )
  },
  methods:{
    initThreeJs(){
      this.initScene()
      this.initCamera()
      this.initRenderer()
      this.initLight()
      this.initOrbitControl()
      this.initStats()          //性能控件
      // this.initAxisHelper()
      this.initOnWindowResize()
      this.testModule()          //测试代码
      this.animate()
      this.createBasicBuilding()
    },
    // 向场景中添加物体，并记录到
    addObject(object){
      this.scene.add( object )
      this.objects.push(object)
    },
    // 初始化坐标系辅助控件
    initAxisHelper(){
      const axes = new THREE.AxisHelper(1000)
      axes.name = '坐标系'
      this.addObject(axes)
    },
    // 创建一个场景
    initScene(){
      this.scene = new THREE.Scene()
      window.scene = this.scene
    },
    // 创建一个相机
    initCamera(){
      let camera = new THREE.PerspectiveCamera(60, window.innerWidth / window.innerWidth, 0.1, 10000)
      this.camera = camera
      window.camera = this.camera
      this.camera.position.x = 0
      this.camera.position.y = 2500
      this.camera.position.z = 3500

      // 相机的朝向
      this.camera.lookAt(0, 0, 0)
      // 将相机放到场景中
      this.scene.add(camera)
    },
    // 生命渲染器
    initRenderer(){
      let renderer = new THREE.WebGLRenderer()
      renderer = new THREE.WebGLRenderer(
          {
            antialias: true, // 是否开启反锯齿，设置为true开启反锯齿。
            alpha: true, // 是否可以设置背景色透明。
            logarithmicDepthBuffer: true// 模型的重叠部位便不停的闪烁起来。这便是Z-Fighting问题，为解决这个问题，我们可以采用该种方法
          }
      )
      renderer.setSize(window.innerWidth, window.innerHeight)// 渲染器的尺寸与windows的尺寸相同
      renderer.setClearColor(0xf081A26)// 设置渲染的背景颜色
      renderer.setPixelRatio(window.devicePixelRatio)// 设置渲染器的分辨率与浏览器电脑本身的分辨率相同
      // 将渲染器添加到我们的网页中，可以将渲染的内容在网页中显示出来
      document.getElementById('hello').appendChild(renderer.domElement)
      this.renderer = renderer
      window.renderer = this.renderer
    },
    // 初始化灯光
    initLight(){
      // 首先添加个环境光
      const ambient = new THREE.AmbientLight(0xffffff, 1) // AmbientLight,影响整个场景的光源
      ambient.position.set(0, 0, 0)
      this.addObject(ambient)
      // 添加平行光,平行光类似于太阳光
      const directionalLight = new THREE.DirectionalLight(0xffffff, 0.3)// 模拟远处类似太阳的光源
      directionalLight.position.set(0, 200, 0)
      this.addObject(directionalLight)
      // 设置点光源
      const pointLight1 = new THREE.PointLight(0xffffff, 0.3)
      pointLight1.position.set(-500, 200, 0)
      this.addObject(pointLight1)
      const pointLight2 = new THREE.PointLight(0xffffff, 0.3)
      pointLight2.position.set(500, 200, 0)
      this.addObject(pointLight2)
    },
    // 初始化相机控件
    initOrbitControl(){
      // 初始化相机控件OrbitControl(用来控制场景中的移动变化)
      let orbitControl = new OrbitControls(this.camera, this.renderer.domElement)
      orbitControl.enableDamping = true
      orbitControl.dampingFactor = 0.5
      // 视角最小距离
      orbitControl.minDistance = 0
      // 视角最远距离
      orbitControl.maxDistance = 5000
      // 最大角度
      orbitControl.maxPolarAngle = Math.PI / 2.2
    },
    // 初始化性能控件State
    initStats(){
      let stats = new Stats()
      stats.domElement.style.position = 'absolute'
      stats.domElement.style.left = '0px'
      stats.domElement.style.up = '0px'
      document.body.appendChild(stats.domElement)
      this.stats = stats
      window.stats = this.stats
    },
    // 浏览器窗口尺寸变化
    initOnWindowResize(){
      window.addEventListener('resize', function () {
        this.camera.aspect = window.innerWidth / window.innerHeight
        this.camera.updateProjectionMatrix()// 更新相机投影矩阵,我们一般在修改相机参数之后调用一下
        this.renderer.setSize(window.innerWidth, window.innerHeight)
      }, false)
    },
    // 创建测试模块
    testModule(){
      // let texture = new THREE.TextureLoader().load('/static/机场地图.jpg')
      // let geometry = new THREE.BoxGeometry( 100, 100, 100 )
      // // let material = new THREE.MeshBasicMaterial( { color: 0x00ff00 } )
      // let material = new THREE.MeshPhongMaterial({
      //   map: texture
      // })
      //
      // let cube = new THREE.Mesh(geometry, material)
      // this.cube = cube
      // this.scene.add( this.cube )
      // this.camera.position.z = 1500

      //精灵图
      // const map = new THREE.TextureLoader().load('./static/blackRed.jpg')
      // const material1 = new THREE.SpriteMaterial({
      //   map: map
      // })
      // const sprite =  new THREE.Sprite( material1 )
      // sprite.position.x = 400
      // sprite.position.y = 0
      // sprite.position.z = 0
      // this.scene.add( sprite )

      //Sprite
      let canvas = document.createElement('canvas')
      let ctx = canvas.getContext('2d')
      ctx.fillStyle = '#ff0048'
      ctx.font = '空港科技'
      ctx.lineWidth = 4
      ctx.fillText("ABCD", 4, 104)
      let texture = new THREE.Texture(canvas)
      texture.needsUpdate = true

      let material = new THREE.SpriteMaterial({ map: texture })
      let textObj = new THREE.Sprite(material)
      textObj.scale.set( 0.5 * 100, 0.25 * 100, 0.75 * 100 )
      textObj.position.set( 0,300,98 )
      console.log( 'Spirte', textObj )
      this.addObject( textObj )
    },
    // 定时重复刷新
    animate(){
      requestAnimationFrame(this.animate.bind(this))
      // this.stats.update()                 //性能控件实时更新

      //测试模块代码
      // this.cube.rotation.x += 0.01
      // this.cube.rotation.y += 0.01

      this.renderer.render(window.scene, window.camera)
    },
    // 控制功能按钮显隐
    controlBtn(){
      this.activeControlBanel = 'controlBanel-active'
      this.activeControl = 'controlBtn-inactive'
    },
    controlClose(){
      this.activeControlBanel = 'controlBanel-inactive'
      this.activeControl = 'controlBtn-active'
    },
    // 时间控件
    time () {
      if (this.timeout) return
      this.oTime()
      setTimeout(() => {
        this.time()
      }, 1000)
    },
    oTime () {
      const dt = new Date()
      let y = dt.getFullYear()
      let mt = dt.getMonth() + 1
      let day = dt.getDate()
      document.querySelector('.time-h').innerHTML = this.$moment().locale('zh-cn').format('HH:mm:ss')
      document.querySelector('.time-y').innerHTML = y + '-' + mt + '-' + day
    },
    // 登出功能
    loginOut(){
      location.href="https://ddims.app.seventythree.cn"
    },
    // 系统设置功能
    systemSetting(){
      console.log( '系统设置' )
      this.title = '系统设置'
      this.systemSettingVisible = !this.systemSettingVisible
    },
    // 空管设备概览
    airDeviceDecription(){
      console.log( '空管设备概览' )
      this.title = '空管设备概览'
      this.systemSettingVisible = !this.systemSettingVisible
    },
    // 动力概览
    sportDescription(){
      console.log( '动力概览' )
      this.title = '动力概览'
      this.systemSettingVisible = !this.systemSettingVisible
    },
    // 环境概览
    enviromentDecription(){
      console.log( '环境概览' )
      this.title = '环境概览'
      this.systemSettingVisible = !this.systemSettingVisible
    },
    // 视频概览
    videoDecription(){
      console.log( '视频概览' )
      this.title = '视频概览'
      this.systemSettingVisible = !this.systemSettingVisible
    },
    // 统计分析
    statisitcAnalysis(){
      console.log( '统计分析' )
      this.title = '统计分析'
      this.systemSettingVisible = !this.systemSettingVisible
    },
    // 告警
    alarm(){
      console.log('告警')
      this.title = '告警'
      this.systemSettingVisible = !this.systemSettingVisible
    },
    // 施工设置
    buildSetting(){
      console.log( '施工设置' )
      this.title = '施工设置'
      this.systemSettingVisible = !this.systemSettingVisible
    },
    // 交接班管理
    shiftManagement(){
      console.log( '交接班管理' )
      this.title = '交接班管理'
      this.systemSettingVisible = !this.systemSettingVisible
    },
    // 工作日志
    workLog(){
      console.log( '工作日志' )
      this.title = '工作日志'
      this.systemSettingVisible = !this.systemSettingVisible
    },
    //创建基础建筑物模型
    createBasicBuilding(){
      const buildingData = buildingObjects.objects
      for (let i = 0; i < buildingData.length; i++) {
        const object = buildingData[i]
        switch (object.objectName) {
          case 'airportFloor': {
            console.log( 'airportFloor' )
            const airportFloor_ = new airportFloor(object)
            this.addObject(airportFloor_)
            break
          }
          case 'airportLeftFloor': {
            const airportLeftFloor_ = new airportLeftFloor(object)
            this.addObject(airportLeftFloor_)
            break
          }
          case 'airportRightFloor': {
            const airportRightFloor_ = new airportRightFloor(object)
            this.addObject(airportRightFloor_)
            break
          }
          case 'headingMachineLeft': {
            const headingMachineLeft_ = new headingMachineLeft(object)
            this.addObject(headingMachineLeft_)
            break
          }
          case 'headingMachineRight': {
            const headingMachineRight_ = new headingMachineRight(object)
            this.addObject(headingMachineRight_)
            break
          }
          case 'leftPavilion': {
            const leftPavilion_ = new leftPavilion(object)
            this.addObject(leftPavilion_)
            break
          }
          case 'rightPavilion': {
            const rightPavilion_ = new rightPavilion(object)
            this.addObject(rightPavilion_)
            break
          }
          case 'glideSiopeLeft': {
            const glideSiopeLeft_ = new glideSiopeLeft(object)
            this.addObject(glideSiopeLeft_)
            break
          }
          case 'glideSiopeRight': {
            const glideSiopeRight_ = new glideSiopeRight(object)
            this.addObject(glideSiopeRight_)
            break
          }
          case 'glideSiopeRailLeft': {
            const glideSiopeRailLeft_ = new glideSiopeRailLeft(object)
            this.addObject(glideSiopeRailLeft_)
            break
          }
          case 'glideSiopeRailRight': {
            const glideSiopeRailRight_ = new glideSiopeRailRight(object)
            this.addObject(glideSiopeRailRight_)
            break
          }
          case 'beaconStation': {
            const beaconStation_ = new beaconStation(object)
            this.addObject(beaconStation_)
            break
          }
          case 'communicationMachineRoomFloor': {
            const communicationMachineRoomFloor_ = new communicationMachineRoomFloor(object)
            this.addObject(communicationMachineRoomFloor_)
            break
          }
          case 'communicationMachineRoom': {
            const communicationMachineRoom_ = new communicationMachineRoom(object)
            this.addObject(communicationMachineRoom_)
            break
          }
          case 'communicationMachineOtherRoom': {
            const communicationMachineOtherRoom_ = new communicationMachineOtherRoom(object)
            this.addObject(communicationMachineOtherRoom_)
            break
          }
        }
      }
    },
    //点击模型显示信息
    onMouseClick(e){
      // 鼠标左键
      let x = e.clientX
      let y = e.clientY
      this.mouse.x = ( x / window.innerWidth ) * 2 -1
      this.mouse.y = -( y / window.innerHeight ) * 2 +1
      this.raycaster.setFromCamera( this.mouse, this.camera )
      const intersects = this.raycaster.intersectObjects( [this.scene], true )
      console.log( 'intersects', intersects )
      if( intersects.length == 0 ){
        // $('#label').attr( 'style', 'display: none;' )
        this.toolTip = false
        return
      }
      if(intersects[0].object.name == 'airportFloor'){
        // $('#label').attr('style', 'display: none;')
        this.toolTip = false
        this.selectedObjects.pop()
      }else if(intersects[0].object.level || intersects[0].object.name == 'headingMachineLeft' || (intersects[0].object.name == 'headingMachineRight') || (intersects[0].object.name == 'glideSiopeLeft') || (intersects[0].object.name == 'glideSiopeRight') || (intersects[0].object.name == 'glideSiopeRailLeft') || (intersects[0].object.name == 'glideSiopeRailRight') || (intersects[0].object.name == 'beaconStation') || (intersects[0].object.name == 'communicationMachineRoom')){
        // $('#label').attr('style', 'display: block;')  //显示说明性标签
        $('#label').css({ left: x, top: y - 40 }) // 修改标签的位置
        localStorage.setItem('buildData', JSON.stringify(intersects[ 0 ].object.name))
        const name = intersects[0].object.name
        const no = intersects[0].object.uuid
        const dataShow = new DataShow(name, no)
        this.selectedObjects.pop()
        this.selectedObjects.push(intersects[0].object)
        $('#label').html(dataShow.showHint()) // 显示模型内容
        setTimeout( () => {
          this.toolTip = true
        }, 500 )
      }else {
        // $('#label').attr('style', 'display: none;') // 隐藏说明行标签
        this.toolTip = false
      }
    }
  },
  destroyed() {
  }
}
</script>

<style scoped>
canvas{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  background-color: #000;
  color:#ffffff;
  font-family: Monospace;
  font-size: 0.17rem;
  line-height: 0.32rem;
  overflow: hidden;
}
#hello{
  position: relative;
  overflow: hidden;
}
.control-banel{
  width: 5.33rem;
  height: 8.00rem;
  background: white;
  position: absolute;
  right: 0.00rem;
  top: 0.40rem;
}
.bottom{
  width: 100%;
  height: 2.67rem;
  /*background: white;*/
  position: absolute;
  left: 0.00rem;
  bottom: 0.00rem;
  display: flex;
  flex-direction: column;
}
.bottom-top{
  width: 100%;
  /*background: pink;*/
  flex: 1;
  display: flex;
  align-items: center;
}
.bottom-bottom{
  width: 100%;
  /*background: blue;*/
  flex: 1;
}
.control-btn{
  width: 0.67rem;
  height: 0.67rem;
  border-radius: 50%;
  /*background: blue;*/
  background: linear-gradient(120deg, #34e0f0 0%, #b400ff 100%);
  opacity: .8;
  border-radius: 35%;
  animation: rotateMain 8s linear infinite;
  position: absolute;
  cursor: pointer;
  right: 0.35rem;
  top: 1.3em;
}

.control-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #35a0f0 0%, #b233f0 100%);
  opacity: .8;
  box-shadow: 5px 5px 90px rgba(10, 102, 255, 0.5);
  border-radius: 35%;
  animation: rotateMain 8s linear 2s infinite;
}

.control-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(60deg, #33580f 0%, #b7ee6d 100%);
  opacity: .8;
  box-shadow: 5px 5px 60px rgba(20, 102, 255, 0.3);
  border-radius: 35%;
  animation: rotateMain 8s linear 4s infinite;
  z-index: -1;
}

@keyframes rotateMain {
  50% {
    transform: rotateZ(180deg);
    border-radius: 50%;
  }
  100% {
    transform: rotateZ(360deg);
    border-radius: 35%;
  }
}
/*.control-btn:hover{*/
/*  right: 0.07rem;*/
/*}*/
.controlBtn-active{
  display: block;
}
.controlBtn-inactive{
  display: none;
}
.controlBanel-active{
  display: block;
}
.controlBanel-inactive{
  display: none;
}
.control-banel-top{
  width: 100%;
  height: 0.40rem;
  background: black;
}
.control-banel-top > span{
  color: white;
  float: right;
  line-height: 0.40rem;
  padding-right: 0.13rem;
  cursor: pointer;
}
.ant-divider-horizontal{
  height: 0.04rem;
  margin: 0.17rem 0;
}
.btn-box{
  height: 100%;
  display: flex;
  align-items: center;
  /*padding-left: 0.1rem;*/
}
.btn-box > div{
  width: 1.49rem;
  height: 1.2rem;
  /*margin-right: 0rem;*/
  /*border: 0.01rem solid white;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-box > div > div:nth-child(1){
  width: 65%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.01rem solid white;
  margin-top: 0.09rem;
  color: white;
}
.btn-box > div > div:nth-child(2){
  margin-top: 0.13rem;
  font-size: 0.17rem;
  color: white;
}
.oTime{
  height: 1rem;
  /*border: 0.01rem solid white;*/
  flex: 1;
  margin-right: 0.14rem;
  font-size: 0.75rem;
  line-height: 0.59rem;
  text-align: center;
  color: white;
}
.bottom-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.00rem 0.53rem;
}
.bottom-bottom-left{
  height: 100%;
  /*background: pink;*/
  flex: 1;
}
.bottom-bottom .bottom-bottom-left .company-title{
  font-size: 0.40rem;
  text-align: center;
  font-weight: bold;
  color: white;
}
.bottom-bottom .bottom-bottom-left .company-title-english{
  text-align: center;
  /*margin-top: 0px;*/
  color: white;
}
.bottom-bottom-center{
  height: 100%;
  /*background: white;*/
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom-bottom-center span{
  font-size: 0.27rem;
  color: red;
  font-weight: bold;
}
.bottom-bottom-right{
  height: 100%;
  /*background: green;*/
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottom-bottom-right > div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.bottom-bottom-right > div > span:nth-child(1){
  width: 0.60rem;
  height: 0.24rem;
  background: red;
}
.bottom-bottom-right > div > span:nth-child(2){
  text-align: center;
  margin-top: 0.11rem;
  font-size: 0.19rem;
  color: white;
}
.time-y{
  margin-right: 0.20rem;
}
.conic{
  cursor: pointer;
}
#label{
  width: 160px;
  position: absolute;
  padding: 10px;
  text-align: center;
  background: rgba(35, 62, 109, 0.6);
  line-height: 1;
  color:#000000;
  border-radius: 5px;
  /*display:none;*/
  border: 1px solid white;
  color: white;
}
</style>

