<template>
  <div class="main">
    <iframe src="/static/522/fire.html" frameborder="0" style="width: 100%;height: 100%;"></iframe>
  </div>
</template>

<script>
  export default {
    data(){
      return{

      }
    },
    mounted() {
    }
  }
</script>

<style>
  .main{
    width: 100%;
    height: 100%;
  }
</style>
