<script src="api/index.js"></script>
<template>
  <div class="configuration">
      <div class="card">
        <div class="head">
          热门收藏夹
        </div>
        <div class="content">
          <div class="btnGroup">
            <span @click="btnSkip('人工智慧')" class="btn">人工智慧</span>
            <span @click="btnSkip('行动')" class="btn">行动</span>
            <span @click="btnSkip('伤心')" class="btn">伤心</span>
            <span @click="btnSkip('汽车')" class="btn">汽车</span>
            <span @click="btnSkip('母亲节')" class="btn">母亲节</span>
            <span @click="btnSkip('景观')" class="btn">景观</span>
            <span @click="btnSkip('黑暗')" class="btn">黑暗</span>
          </div>
          <div class="album">
            <div class="pic">
              <div class="big"></div>
              <div class="small">
                <span class="smallPic"></span>
                <span class="smallPic"></span>
                <span class="smallPic"></span>
                <span class="smallPic"></span>
              </div>
              <div class="information">
                <span class="left">Happy Mother's Day</span>
                <span class="right">
                  <i class="el-icon-picture"></i>
                  <span class="number">188</span>
                </span>
              </div>
            </div>
            <div class="pic">
              <div class="big"></div>
              <div class="small">
                <span class="smallPic"></span>
                <span class="smallPic"></span>
                <span class="smallPic"></span>
                <span class="smallPic"></span>
              </div>
              <div class="information">
                <span class="left">Happy Mother's Day</span>
                <span class="right">
                  <i class="el-icon-picture"></i>
                  <span class="number">11</span>
                </span>
              </div>
            </div>
            <div class="pic">
              <div class="big"></div>
              <div class="small">
                <span class="smallPic"></span>
                <span class="smallPic"></span>
                <span class="smallPic"></span>
                <span class="smallPic"></span>
              </div>
              <div class="information">
                <span class="left">Happy Mother's Day</span>
                <span class="right">
                  <i class="el-icon-picture"></i>
                  <span class="number">55</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import { picDatas } from './api/index'
export default {
  name: 'configuration',
  data(){
    return{

    }
  },
  methods: {
    btnSkip(val){
      console.log(val)
      this.$nextTick(() => {
        picDatas().then( res => {
          if(res.code == 200){
            console.log(res)
          }
        } )
      })
    }
  },
  created(){
    this.$nextTick(() => {
      picDatas().then( res => {
        if(res.code == 200){
          console.log(res)
        }
      } )
    })
  }
}
</script>

<style lang="scss" scoped>
$img: '../assets/img';
  .configuration{
    padding: 20px 337px 0;
    .card{
      .head{
        font-size: 30px;
        color: #1a1a1a;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .content{
        .btnGroup{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin-bottom: 20px;
          .btn{
            display: block;
            font-size: 18px;
            color: #9e9e9e;
            padding: 11.2px 17.5px;
            border: 1px solid #edeaea;
            margin-right: 7px;
            text-align: center;
            border-radius: 6px;
            cursor: pointer;
            font-weight: 800;
          }
          .btn:hover{
            background: #e8e8e8;
          }
        }
        .album{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .pic{
            width: calc(33.333% - 18px);
            padding: 9px 7px;
            padding-bottom: 15px;
            margin-bottom: 30px;
            border-radius: 10px;
            //height: 200px;
            cursor: pointer;
            .big{
              border-radius: 10px;
              margin-bottom: 2px;
            }
            .small{
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-bottom: 10px;
              .smallPic{
                display: block;
                width: calc(25% - 2px);
                height: 70px;
                background: url("#{$img}/col1.jpg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
              }
              & > .smallPic:first-child{
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
              }
              & > .smallPic:last-child{
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
              }
            }
            .information{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              .left{
                font-size: 19px;
                color: #1a1a1a;
                font-weight: 700;
              }
              .right{
                color: #5e5e5e;
                .number{
                  font-size: 15px;
                  font-weight: 600;
                }
              }
            }
          }
          .pic:hover{
            background: #e8e8e8;
          }
          & > .pic:nth-child(1){
            .big{
              width: 100%;
              height: 200px;
              background: url("#{$img}/col1.jpg");
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
          }
          & > .pic:nth-child(2){
            .big{
              width: 100%;
              height: 200px;
              background: url("#{$img}/col1.jpg");
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
          }& > .pic:nth-child(3){
             .big{
               width: 100%;
               height: 200px;
               background: url("#{$img}/col1.jpg");
               background-repeat: no-repeat;
               background-size: 100% 100%;
             }
           }

        }
      }
    }
  }
</style>
