<template>
  <div class="timeTaskCompensation">
    定时任务补偿123
  </div>
</template>

<script>
export default {
  name: 'timeTaskCompensation',
  data(){
    return{

    }
  },
  methods: {},
  created(){}
}
</script>