<template>
  <div class="userManage">
    <!-- header -->
    <div class="header">
      <span class="left">免费素材图片</span>
      <div class="bottomSelect">
        <el-dropdown>
          <span class="el-dropdown-link">
            人气<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>人气</el-dropdown-item>
            <el-dropdown-item>最新</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
    <!-- main -->
    <div class="main">
      <div class="col1 col">
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
      </div>
      <div class="col2 col">
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
      </div>
      <div class="col3 col">
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
        <span class="img"></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'userManage',
  data(){
    return{

    }
  },
  methods: {},
  created(){}
}
</script>

<style lang="scss" scoped>
$img: '../assets/img';
  .userManage{
  // header
    .header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 7px;
      .left{
        color: #1a1a1a;
        font-size: 18px;
        font-weight: 600;
      }
      .bottomSelect{
        .el-dropdown-link {
          cursor: pointer;
          color: #1a1a1a;
          font-size: 14px;
          font-weight: 600;
        }
        .el-icon-arrow-down {
          font-size: 12px;
        }
      }
    }
  //  main
    .main{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .col{
        width: 434px;
        .img{
          display: block;
          width: 100%;
          height: 640px;
          background: #05a081;
          margin-bottom: 21px;
        }
      }
      .col1{
        .img{
          background: url("#{$img}/col1.jpg");
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
      }
      .col2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .img{
          height: 746.67px !important;
          background: url("#{$img}/col2.jpg");
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
      }
      .col3{
        .img{
          background: url("#{$img}/col3.jpg");
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }
</style>