<template>
    <div class="quillContainer" v-if="quillShow">
        <quill-editor v-model="content" ref='QuillEditor' :options='editorOption' @blur="onEditorBlur($event)" @focus="oEditorFocus($event)" @change="onEditorChange($event)">
        </quill-editor>
        <el-upload
            class="avatar-uploader"
            action=""
            :show-file-list="false"
            :on-success="uploadSuccess"
            :on-error="uploadError"
            :on-change="fileChange"
        >
        </el-upload>
    </div>
</template>

<script>
import { quillEditor, Quill  } from 'vue-quill-editor'
import ObsClient from '@/assets/huawei-obs/esdk-obs-browserjs-without-polyfill-3.19.5.min.js'
window.obsClient = null

const fontSizeStyle = Quill.import('attributors/style/size')
fontSizeStyle.whitelist = ['12px', '14px', '16px', '18px', '20px', '24px', '28px', '32px', '36px']
Quill.register(fontSizeStyle, true)

// 设置字体样式
const Font = Quill.import('attributors/style/font') // 引入这个后会把样式写在style上
const fonts = [
    'SimSun',
    'SimHei',
    'Microsoft-YaHei',
    'KaiTi',
    'FangSong'
]
Font.whitelist = fonts // 将字体加入到白名单
Quill.register(Font, true)

const toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'], // 加粗  斜体 下划线  删除线
                [{ color: [] }, { background: [] }], // 字体颜色、字体背景颜色
                [{ align: [] }], // 对齐方式
                [{ size: fontSizeStyle.whitelist }], // 字体大小
                [{ font: fonts }],   // 字体种类
                [{ header: [1,2,3,4,5,6,false] }], // 标题
                [{ direction: 'ltl' }], // 文本方向
                [{ direction: 'rtl' }], // 文本方向
                [{ indent: '-1' }, { indent: '+1' }],  // 缩进
                [{ list: 'ordered'},{ list: 'bullet' }], // 有序、无序列表
                [{ script: 'sub' },{ script: 'super' }], // 上标/下标
                [ 'blockquote', 'code-block' ],  // 引用 代码块
                ['clean'],  // 清楚文本格式
                ['link', 'image', 'video'], // 链接、图片、视频
            ]
export default {
    name: 'quillEditorContainer',
    components: {
        quillEditor
    },
    data(){
        return{
            quillShow: false, // 控制富文本的显示和隐藏
            content: '', // 当前编辑器文本内容
            editorOption: {
                placeholder: '请在这里输入',
                modules: {
                    toolbar: {
                        container: toolbarOptions, // 富文本展示功能
                        handlers: {
                            image: function(value){
                                if(value){
                                    console.log('触发')
                                    document.querySelector('.avatar-uploader input').click()
                                }else{
                                    this.quill.format('image', false)
                                }
                            }
                        }
                    }
                }
            },
            enableEdit: true, // 设置富文本是否可以编辑
            isBoss: true, // 判断是否是项目经理
            articleImgUrl: '', // 图片上传地址
            headerObj: {}, // 上传的请求头
        }
    },
    methods: {
        // 失去焦点事件
        onEditorBlur(editor){
            console.log('失去焦点')
        },
        // 获取焦点事件
        oEditorFocus(editor){
            console.log('获取焦点')
            // if(this.isBoss && !this.enableEdit){
            //     this.$message.warning('请点击编辑按钮，切换到编辑状态')
            // }else if(!this.isBoss && !this.enableEdit){
            //     this.$message.warning('仅项目经理有权限进行编辑')
            // }

            // 富文本禁用操作
            // if(!this.enableEdit){
            //     editor.enable(false)
            // }
        },
        // 编辑器内容发生变化
        onEditorChange({ editor, html, text }){
            // console.log(this.content)
        },
        // 文件上传成功
        uploadSuccess(res){
        },
        // 文件上传失败
        uploadError(){},
        // 上传文件之前
        fileChange(file, fileList){
            let _this = this
            const key = file.uid  + '-' + file.name
            obsClient.putObject({
                Bucket: 'ajaj-xiaoxiaohei',
                Key: key,
                Metadata:{property:'property-value'},
                SourceFile : file.raw
                }).then((result)=>{
                if (result.CommonMsg.Status === 200) {
                    _this.doDownload(key)
                }
                }).catch(function(err){
                console.error('err:' + err);
            })
        },
        doDownload(key){
            obsClient.getObject({
                Bucket : 'ajaj-xiaoxiaohei',
                Key : key,
                SaveByType : 'file'
            }).then((result)=>{
            if (result.CommonMsg.Status != 0) {
                return this.$message.error(result.CommonMsg.Message)
            }
            console.log('文件上传返回数据:', result.InterfaceResult.Content.SignedUrl)
            let url = result.InterfaceResult.Content.SignedUrl
            let quill = this.$refs.QuillEditor.quill
            if(url){
                let length = quill.getSelection().index
                quill.insertEmbed(length, 'image', url)
                quill.setSelection(length + 1)
            }else{
                this.$message.error('图片插入失败')
            }
            }).catch(function(err){
                console.error('err:' + err);
            });
        },
    },
    created(){
        this.$nextTick( () => {
            // 判断是否为项目经理
            // isProjectManager({
            //     roleCode: 'manager',
            //     projectId: this.$route.query.id
            // })
            // .then( res => {
            //     console.log(res)
            // } )

            obsClient = new ObsClient({
                access_key_id: 'O3UHBVVJELIW7ZU8LTHI',
                secret_access_key: 'eKgofpskq2pvxBocEtO9aXXDBJAR90M7yjeGRtAN',
                server : 'http://obs.cn-east-3.myhuaweicloud.com'
            });
        } )
    }
}
</script>

<style scoped>
    .quillContainer .ql-editor{
        min-height: 140px !important;
    }
</style>
