<template>
  <div class="explore">
    <div>华为obs文件上传</div>
    <uploadOrDownloadFiles :accessKey = accessKey :secretKey = secretKey :server = server :bucket = bucket ref="uploadDownload"></uploadOrDownloadFiles>
    <button @click="uploadFile">文件上传</button><span>{{ fileName }}</span>
    <br />
    <button @click="downloadFile">文件下载</button>
  </div>
</template>

<script>
  import uploadOrDownloadFiles from './component/uploadOrDownloadFiles.vue'
  export default{
    components: {
      uploadOrDownloadFiles
    },
    data(){
      return{
        accessKey: 'GMKLJBKAEITLYSHMB322',
        secretKey: 'GbJfVRqF4hGepUcZHh5uzJPoNneNTd4zwI0CsQUf',
        server: 'http://obs.cn-east-3.myhuaweicloud.com',
        bucket: 'glaway.test',
        fileName:　''
      }
    },
    methods: {
      // 文件上传
      uploadFile(){
        this.$refs.uploadDownload.activeUploadFile()
      },
      // 获取文件上传返回数据
      getUploadData(data){
        console.log(data)
        this.fileName = data.fileName
      },
      // 下载文件
      downloadFile(){
        this.$refs.uploadDownload.fileName = 'png'
        this.$refs.uploadDownload.downloadFile()
      },
      // 下载文件返回的数据
      getDownloadData(data){
        console.log(data)
      }
    },
    mounted(){
      this.$refs.uploadDownload.$on('uploadFileReturnData', this.getUploadData)
      this.$refs.uploadDownload.$on('downloadFileReturnData', this.getDownloadData)
    }
  }
</script>

<style scoped>
  .explore{
    padding: 30px;
  }
</style>
