<template>
  <div class="selectIcon">
    <!-- 输入框 -->
    <div class="oSelect" @click.stop="inputOperation">
      <div
        class="content"
        :placeholder="placeholderValue"
        contenteditable="true"
      >
        <!-- {{ defaultValue }} -->
        <img :src="defaultValue" alt="">
      </div>
      <span class="arrow">
        <i class="el-icon-arrow-down" v-if="isArrowVisible"></i>
        <i class="el-icon-arrow-up" v-if="!isArrowVisible"></i>
      </span>
    </div>
    <!-- 下拉显示框 -->
    <div class="downDiv" v-if="!isArrowVisible" @click.stop="downDivOperation">
      <ul>
        <li v-for="(item, index) in selectArray" :key="index" @click.stop="liOperation(item)">
          <!-- {{ item.label }} -->
          <img :src="item.src" alt="">
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      defaultValue: "",
      placeholderValue: "请输入",
      isArrowVisible: true,
      selectArray: [
        {
          label: "text",
          value: "1",
          src: require('../img/text.png')
        },
        {
          label: "green",
          value: "2",
          src: require('../img/vscode.png')
        },
        {
          label: "red",
          value: "3",
          src: require('../img/weChat.png')
        },
      ],
    };
  },
  methods: {
    liOperation(data){
        this.isArrowVisible = true
        this.defaultValue = data.src
    },
    inputOperation() {
      this.isArrowVisible = !this.isArrowVisible;
    },
    downDivOperation() {},
  },
  created() {
    this.$nextTick(() => {
      document.addEventListener("click", (e) => {
        this.isArrowVisible = true;
      });
    });
  },
};
</script>

<style  scoped>
.selectIcon {
}
.oSelect {
  appearance: none;
  background-color: rgb(255, 255, 255);
  background-image: none;
  box-sizing: border-box;
  color: rgb(96, 98, 102);
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 36px;
  width: 100%;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 223, 230);
  border-image: initial;
  outline: none;
  padding: 0px 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 2px;
}
.oSelect:hover {
  border-color: rgb(205, 207, 210);
}
.oSelect:focus {
  border-color: rgb(64, 158, 255);
}
.oSelect:empty::before {
  content: attr(placeholder);
  vertical-align: middle;
  color: #666666;
}
.oSelect .content {
  flex: 35;
  appearance: none;
  background-color: rgb(255, 255, 255);
  background-image: none;
  box-sizing: border-box;
  color: rgb(96, 98, 102);
  display: inline-block;
  font-size: inherit;
  height: 100%;
  line-height: 30px;
  width: 100%;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  outline: none;
  padding: 0px 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  cursor: pointer;
  position: relative;
  display: block; /*内联对象需加*/
  word-break: keep-all; /* 不换行 */
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow: ellipsis;
}
.oSelect .arrow {
  flex: 1;
  display: inline-block;
  width: 20px;
}
.downDiv {
  /* width: 100%;
  background-color: yellow;
  min-height: 10px;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 10px; */
  padding: 8px 0px;

  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(228, 231, 237);
  border-image: initial;
  border-radius: 4px;
  margin: 5px 0px;
}
.downDiv ul li{
    padding: 0px 18px;
    line-height: 40px;
}
.downDiv ul li:hover{
    background: #f5f7fa;
}
ul,
li {
  text-decoration: none;
  padding: 2px 4px;
  margin: 0px;
  list-style: none;
}
</style>
