<script src="../../basicBuilding/airportFloor.js"></script>
<template>
  <div class="importFiles">
<!--  操作区域  -->
    <div class="head">
      <el-button @click="importFile">导入文件</el-button>
    </div>
<!--  列表显示区域  -->
    <div class="showList">
      <el-table
          :data="tableData"
          border
          style="width: 100%">
        <el-table-column
            prop="date"
            label="日期"
            width="180">
        </el-table-column>
        <el-table-column
            prop="name"
            label="姓名"
            width="180">
        </el-table-column>
        <el-table-column
            prop="address"
            label="地址">
        </el-table-column>
      </el-table>

<!--   文件上传   -->
      <obs-upload-dialog
          v-if="uploadDialogVisible"
          ref="uploadDialogRef"
          uploadAccept="*"
          :isMultipleOperation="false"
          @getFileInfo="getFileInfo"
      ></obs-upload-dialog>
    </div>
  </div>
</template>

<script>
import obsUploadDialog from "../../fileUploadAndObs/obsUploadDialog";
import ObsClient from "../../../assets/huawei-obs/esdk-obs-browserjs-without-polyfill-3.19.5.min";
// import ObsClient from "../../../assets/huawei-obs/esdk-obs-browserjs-without-polyfill-3.19.5.min.js";
window.obsClient = null;
  export default {
    components:{
      obsUploadDialog
    },
    data(){
      return{
        tableList: [],
        uploadDialogVisible: false,
        tableData: [{
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1517 弄'
        }, {
          date: '2016-05-01',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1519 弄'
        }, {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1516 弄'
        }]
      }
    },
    methods: {
      importFile(){
        console.log('导入文件')
        this.uploadDialogVisible = true
        this.$nextTick(() => {
          this.$refs.uploadDialogRef.init();
        });
      },
      getFileInfo(){

      },
      listBuck(){
        obsClient.listObjects({
          Bucket : 'ajaj-xiaoxiaohei',
          MaxKeys : 100,
          Marker : 1
        }, function (err, result) {
          console.log('===list===>', result)
          if(err){
            console.error('Error-->' + err);
          }else{
            console.log('Status-->' + result.CommonMsg.Status);
            if(result.CommonMsg.Status < 300 && result.InterfaceResult){
              for(var j in result.InterfaceResult.Contents){
                console.log('Contents[' + j +  ']:');
                console.log('Key-->' + result.InterfaceResult.Contents[j]['Key']);
                console.log('Owner[ID]-->' + result.InterfaceResult.Contents[j]['Owner']['ID']);
              }
            }
          }
        })
      }
    },
    created() {
      this.$nextTick( () => {
        obsClient = new ObsClient({
          access_key_id: "O3UHBVVJELIW7ZU8LTHI",
          secret_access_key: "eKgofpskq2pvxBocEtO9aXXDBJAR90M7yjeGRtAN",
          server: "https://obs.cn-east-3.myhuaweicloud.com",
        });
        this.listBuck()
      } )
    }
  }
</script>

<style scoped lang="scss">
.importFiles{
  padding: 0px 60px;
  .head{}
  .showList{
    margin-top: 20px;
  }
}
</style>
