<template>
  <div class="uploadContent">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="文件上传" name="first">
          <importFiles></importFiles>
        </el-tab-pane>
        <el-tab-pane label="文件展示" name="second">文件展示</el-tab-pane>
      </el-tabs>
  </div>
</template>

<script>
import importFiles from "./component/importFiles";
  export default {
    components: {
      importFiles
    },
    data(){
      return{
        activeName: 'first'
      }
    },
    methods: {
      handleClick(tab, event) {
        console.log(tab, event);
      }
    },
    created() {

    }
  }
</script>
