<template>
  <div class="licence">
    许可证(测)
    <div></div>

    <selectIcon></selectIcon>
  </div>
</template>

<script>
import selectIcon from './component/selectIcon.vue'
  export default{
    components: {
      selectIcon
    },
    data(){
      return{}
    }
  }
</script>

<style scoped>
  .licence{
    padding: 20px;
  }
</style>

